/* add letter spacing and font-size to all fonts individually */

@import '_bold-josefinsans.scss';
@import '_reg-josefinsans.scss';
@import '_reg-aleo.scss';

html, body {
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Paragraph styles */

.p-1 {
    font-size: 48px;
    letter-spacing: 4.8px;
}

.p-2 {
    font-size: 22px;
    letter-spacing: 6.82px;
}

.p-3 {
    font-size: 14px;
    letter-spacing: 1.4px;
}

.p-4 {
    font-size: 14px;
    letter-spacing: 2.8px;
    margin-bottom: 8px;
}

.p-5 {
    font-size: 24px;
    letter-spacing: 2.4px;
}

.p-6 {
    font-size: 36px;
}

.p-7 {
    font-size: 16px;
    letter-spacing: 1.6px;
    margin-top: 50px;
}

.p-8 {
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-top: 49px;
}

.p-9 {
    font-size: 20px;
    letter-spacing: 0px;
    margin-top: 23px;
}

.p-10 {
    font-size: 16px;
    letter-spacing: 0px;
    margin-top: 13px;
}

.p-11 { /* for every button except the first */
    font-size: 14px;
    letter-spacing: 1.2px;
}

.p-12 {
    font-size: 20px;
    letter-spacing: 0px;
    margin-top: 49px;
    margin-bottom: 10px;
}

/* SECTION 1 */

.section-1 {
    background-image: url('../images/img-1.png');
    background-size: cover;
    background-position: center;
    min-height: 737px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-1-1 {
    min-height: 76px;
    max-width: 380px;
    width: 100%;
    text-align: center;
}

.content-1-2 {
    display: flex;
    justify-content: center;
    min-height: 63px;
    max-width: 660px;
    width: 100%;
    margin-top: 48px;
}

.content-1-2 input[type="text"] {
    max-width: 503px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

.content-1-2 input[type="text"]::placeholder {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2.8px;
    color: #999999;
}

.search-btn {
    background-color: #5474FD;
    color: white;
    min-height: 100%;
    min-width: 153px;
    border: 2px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-btn:hover {
    background-color: #3b51b0;
    transition-duration: 0.8s;
}

.content-1-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 108px;
}

/* HEADER */

.header {
    background-color: #5474FD;
    min-height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    height: auto;
    width: 60%;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 20px;
    max-width: 525px;
    width: 100%;
}

.nav ul li {
    list-style-type: none;
    cursor: pointer;
}

.nav a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
    transition-duration: 0.8s;
}

/* SECTION 2 */

.section-2 {
    background-image: url('../images/img-2.png');
    background-size: cover;
    background-position: center;
    min-height: 685px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-2-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 400px;
    max-width: 560px;
    width: 100%;
    margin-right: 109px;
}

.explore-btn {
    background-color: #5474FD;
    opacity: 0.8;
    color: white;
    min-height: 63px;
    max-width: 228px;
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 45px;
}

.explore-btn:hover {
    background-color: #3b51b0;
    opacity: 0.8;
    transition-duration: 0.8s;
}

.content-2-2 {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 500px;
    gap: 10px;
}

.img {
    max-width: 80%; /* i had to make the images a bit smaller for the margin-left to work */
    height: auto;
}

.img-right {
    margin-left: 90px;
} 

/* SECTION 3 */

.section-3 {
    background-image: url('../images/img-3.png');
    background-size: cover;
    background-position: center;
    min-height: 340px;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* SECTION 4 */

.section-4 {
    background-image: url('../images/img-4.png');
    background-size: cover;
    background-position: center;
    min-height: 700px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content-4   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    min-height: 374px;
    max-width: 553px;
    width: 100%;
    background-color: #232323;
    opacity: 0.9;
    text-align: left;
    padding-left: 32px;
}

.book-btn {
    background-color: #5474FD;
    opacity: 0.8;
    color: white;
    min-height: 63px;
    max-width: 228px;
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 46px;
}

.book-btn:hover {
    background-color: #3b51b0;
    opacity: 0.8;
    transition-duration: 0.8s;
}

/* SECTION 5 */

.section-5 {
    background-image: url('../images/img-5.png');
    background-size: cover;
    background-position: center;
    min-height: 700px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    min-height: 374px;
    max-width: 553px;
    width: 100%;
    background-color: #232323;
    opacity: 0.9;
    text-align: left;
    padding-left: 32px;
}

/* SECTION 6 */

.section-6 {
    background-image: url('../images/img-6.png');
    background-size: cover;
    background-position: center;
    min-height: 731px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* i had to change min-height to height (both boxes) and overflow for the favicon to work in all browsers,
dont know why and the image looks a little weird now */
.content-6-1 {
    min-height: 284px;
    max-width: 450px;
    width: 100%;
    overflow: hidden;
}

.sam-img {
    height: auto;
    width: 100%;
}

.content-6-2 {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 284px;
    max-width: 668px;
    width: 100%;
    padding-left: 59px;
    padding-right: 25px;
    text-align: left;
}

.footer {
    background-color: #232323;
    min-height: 271px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.f-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: last baseline;
    align-items: center;
}

.f-margin {
    margin-top: 20px;
}

.fa-brands {
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
}

@import '_media-queries.scss';